{% extends 'base/base.html' %}

{% block content %}

    <div class="row">
    	<div class="col-sm-12 pt-2">
    		{{ group.name }}
    	</div>
        <div class="col-sm-12 pt-2">
            <a href="{% url 'base:modify_group_name_view' group.id %}">modify group name</a>
        </div>
		{% for kanji in group.group_kanji.all %}
			<div class="col-sm-12 pt-2">
				<h2>
            	   <a href="{% url 'toshokan:individual' kanji.id %}">
                        {{ kanji.character }}
                    </a>
        		</h2>
			</div>
        {% endfor %}
    </div>

{% endblock %}