{% extends 'base/base.html' %}

{% block content %}

    <form action="{% url 'base:add_group'%}" method="POST">
        {% if form.errors %}
            {% for error, error_val in form.errors.items %}
            <div class="col-sm-12 alert alert-danger text-center">
                {{ error_val|first }}
            </div>
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        <div class="row py-2">
            <div class="col-sm-12">
                <input id="id_name" name="name" 
                           type="text" class="form-control">
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-sm-12">
                <input type="submit" value="add group" 
               class="btn btn-primary btn-block" />
            </div>
        </div>
    </form>

{% endblock %}