{% extends 'base/base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="row p-3 align-items-center">
            <div class="col-sm-12 text-center">
                <h2 class="main-title">
                   hello {{ user.username }}
                </h2>
            </div>
        </div>
    {% else %}
        <div class="row p-3 align-items-center">
            <div class="col-sm-12 text-center">
                <h2>
                   you are not <a href="{% url 'login' %}">logged in</a>
                </h2>
            </div>
        </div>
    {% endif %}

{% endblock %}