{% extends 'base/base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="row p-3 align-items-center">
            <div class="col-sm-12 text-center">
                <h1>
                   welcome, {{user.username}}
                </h1>
            </div>
        </div>
    {% else %}
        <div class="row p-3 align-items-center">
            <div class="col-sm-12 text-center">
                <h1>
                   you are not logged in
                </h1>
            </div>
        </div>
    {% endif %}

{% endblock %}