{% extends 'base/base.html' %}

{% block content %}

    <nav class="navbar fixed-bottom navbar-light navbar-expand-lg bg-light">
        <a class="navbar-brand" href="{% url 'base:index' %}">連接</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavBottom" aria-controls="navbarNavBottom" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavBottom">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'base:group' %}">add a new group</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'base:delete_group_view' %}">delete a group</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row pt-2">
        <div class="col-sm-12 pb-2">
            welcome to your profile, {{userprofile.user.username}}
        </div>
        {% for group in userprofile.group_profile.all %}
            <div class="col-sm-8 pb-2">
                <a href="{% url 'base:group_individual' group.id %}">{{ group.name }}</a>
            </div>
            <div class="col-sm-4 pb-2">
                <a href="{% url 'base:review_view' group.id %}">
                    review
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}