<h1>
	Profile
</h1>

<p>
	{{ userinfo.user.first_name }} {{ userinfo.user.last_name }}
</p>

<p>
	{{ userinfo.user.email }}
</p>

<h2>interesting kanji</h2>
<p>
	{% for kanji in userinfo.interesting_kanji.all %}
		<h2>
			<a href="{% url 'individual' kanji.id %}">{{ kanji.character }}</a>
		</h2>
	{% endfor %}
</p>

<h2>difficult kanji</h2>
<p>
	{% for kanji in userinfo.difficult_kanji.all %}
		<h2>
			<a href="{% url 'individual' kanji.id %}">{{ kanji.character }}</a>
		</h2>
	{% endfor %}
</p>

<h2>known kanji</h2>
<p>
	{% for kanji in userinfo.known_kanji.all %}
		<h2>
			<a href="{% url 'individual' kanji.id %}">{{ kanji.character }}</a>
		</h2>
	{% endfor %}
</p>

<p>
	<a href="{% url 'logout' %}">logout</a>
</p>