{% extends 'base/base.html' %}

{% block content %}

	<a href="{% url 'base:index' %}">homepage</a>
	<a href="{% url 'toshokan:index' %}">library</a>
	<a href="{% url 'logout' %}">logout</a>

	<p>
		{{ userinfo.user.first_name }} {{ userinfo.user.last_name }} ({{userinfo.user.username}})
	</p>

	<p>
		interesting kanji:
		{% for kanji in userinfo.interesting_kanji.all %}
			<a href="{% url 'toshokan:individual' kanji.id %}">{{ kanji.character }}</a>
		{% endfor %}
	</p>
	<p>
		difficult kanji:
		{% for kanji in userinfo.difficult_kanji.all %}
			<a href="{% url 'toshokan:individual' kanji.id %}">{{ kanji.character }}</a>
		{% endfor %}
	</p>

	<p>
		known kanji:
		{% for kanji in userinfo.known_kanji.all %}
			<a href="{% url 'toshokan:individual' kanji.id %}">{{ kanji.character }}</a>
		{% endfor %}
	</p>

{% endblock %}