{% extends 'base/base.html' %}

{% block javascript %}
    <script>
        $("button[id^='option_']").click(function (e) {

            // $.ajax({
            //     url: "{% url 'base:button_submit' %}",
            //     data: {
            //         'character': character
            //     },
            //     dataType: 'json',
            //     success: function (data) {
            //         if (data.is_kanji) {
            //             // alert("This kanji is in the database.");
            //             $('#ajax-button').html("Accepted");
            //             document.getElementById("id-username").value = "";
            //         } else {
            //             $('#ajax-button').html("Nope");
            //             document.getElementById("id-username").value = "";
            //         }
            //     }
            // });

            var id_str = $(this).attr('id').split("_");
            var kanji = id_str.slice(0,2);
            var kanji_select = kanji.join("_")
            $("button[id^=" + kanji_select + "]").prop("disabled", true);

            $(this).prop("disabled", true);
            
            e.preventDefault();
            return false;
        });
    </script>
{% endblock %}

{% block content %}

    <nav class="navbar fixed-bottom navbar-light navbar-expand-lg bg-light">
        <a class="navbar-brand" href="{% url 'base:index' %}">連接</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavBottom" aria-controls="navbarNavBottom" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavBottom">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">link</a>
                </li>
            </ul>
        </div>
    </nav>

    {% for question in questions %}
    <div id="question_{{ question.kanji }}" class="row py-2 align-items-center pb-4">
        <div class="col-sm-1 pt-2">
            <h1>
                {{ question.kanji }}  
            </h1>
        </div>
        <div class="col-sm-11 pt-2">
                {% for option in question.options %}
                    {% if option.result %}
                        <button type="submit" id="option_{{ question.kanji }}_y_{{ option.option }}" class="btn btn-link btn-block text-primary text-left">{{ option.option }}</button>
                    {% else %}
                        <button type="submit" id="option_{{ question.kanji }}_n_{{ option.option }}" class="btn btn-link btn-block text-danger text-left">{{ option.option }}</button>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}

{% endblock %}