{% extends 'base/base.html' %}

{% block javascript %}
    <script>
        $("button[id^='option_']").click(function (e) {

            var id_str = $(this).attr('id').split("_");

            $.ajax({
                url: "{% url 'base:review_submit' %}",
                data: {
                    'review_id': parseInt(id_str[1]),
                    'object_id': parseInt(id_str[2]),
                    'option_id': parseInt(id_str[3]),
                },
                dataType: 'json',
                context: this,
                success: function (data) {
                    // whatever happens on success
                    var disable_str = id_str.slice(0,-1).join('_');

                    // if review is complete, enable submit button
                    if (data.is_complete) {
                        $("#submit_review").attr('class', "nav-link btn btn-link");
                    } else {

                    }

                    // depending on if correct, mark up and disable buttons
                    if (data.correct) {
                        $(this).attr('class', "btn btn-link text-success");
                        $("button[id^=" + disable_str + "]").attr('disabled', true);
                    } else {
                        $(this).attr('class', "btn btn-link text-danger");
                        $("button[id^=" + disable_str + "]").attr('disabled', true);
                    }
                }
            });
            
            e.preventDefault();
            return false;
        });
    </script>
{% endblock %}

{% block content %}

    <nav class="navbar fixed-bottom navbar-light navbar-expand-lg bg-light">
        <a class="navbar-brand" href="{% url 'base:index' %}">連接</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavBottom" aria-controls="navbarNavBottom" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavBottom">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="submit_review" class="nav-link btn btn-link {% if review.is_complete %}{% else %}disabled{% endif %}" href="{% url 'base:review_overview' review.id %}">submit review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'base:review_restart' review.id %}">restart review</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row align-items-center">
        {% for object in review.review_objects.all %}
            <div class="col-sm-2 py-2">
                <h2>
                    {{ object.kanji }}
                </h2>
            </div>
            {% load shuffle %}
            <div class="col-sm-10 pb-2 border-bottom">
            {% for option in object.options.all|shuffle %}
                <div class="pt-1">
                    {% if object.is_complete %}
                        {% if option.response_chosen %}
                            {% if option.response_correct %}
                                <button id="option_{{ review.id }}_{{ object.id }}_{{ option.id }}" class="btn btn-link text-success" disabled>
                                    {{ option.possible_response }}
                                </button>
                            {% else %}
                                <button id="option_{{ review.id }}_{{ object.id }}_{{ option.id }}" class="btn btn-link text-danger" disabled>
                                    {{ option.possible_response }}
                                </button>
                            {% endif %}
                        {% else %}
                            <button id="option_{{ review.id }}_{{ object.id }}_{{ option.id }}" class="btn btn-link text-secondary" disabled>
                                {{ option.possible_response }}
                            </button>
                        {% endif %}
                    {% else %}
                        <button id="option_{{ review.id }}_{{ object.id }}_{{ option.id }}" class="btn btn-link text-secondary">
                            {{ option.possible_response }}
                        </button>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}