{% extends 'base/base.html' %}

{% block content %}

    <div class="row pt-2 align-items-center">
    {% for kanji in kanji_list %}
        <div class="col-sm-1 pb-2">
            <h1>
                <a href="{% url 'toshokan:individual' kanji.id %}">{{ kanji.character }}</a>
            </h1>
        </div>
        <div class="col-sm-5 pb-2">
            <div>
                {{ kanji.reading }}
            </div>
            <div>
                {{ kanji.on_meaning }}
            </div>
        </div>  
    {% endfor %}
    </div>

{% endblock %}