{% extends 'base/base.html' %}

{% block javascript %}
    <script>
        $("button[id^='group_']").click(function (e) {

            var id_str = $(this).attr('id').split("_");

            $.ajax({
                url: "{% url 'toshokan:group_submit' %}",
                data: {
                    'group_id': parseInt(id_str[1]),
                    'kanji_id': parseInt(id_str[2]),
                },
                dataType: 'json',
                context: this,
                success: function (data) {
                    // whatever happens on success
                    // this style is in flux, so watch out
                    $(this).attr('class', "btn btn-link dropdown-item text-left text-success pl-0 pb-1");
                    console.log("added");
                }
            });
            
            e.preventDefault();
            return false;
        });

        $("button[id^='like_']").click(function (e) {

            var id_str = $(this).attr('id').split("_");

            $.ajax({
                url: "{% url 'toshokan:like_submit' %}",
                data: {
                    'kanji_id': parseInt(id_str[1]),
                },
                dataType: 'json',
                context: this,
                success: function (data) {
                    // whatever happens on success
                    console.log(data.kanji_character);
                    // console.log(data.group_name);
                }
            });
            
            e.preventDefault();
            return false;
        });
    </script>
{% endblock %}

{% block content %}
    
    
    <form action="{% url 'toshokan:index_search' %}" method="GET">
        <div class="row pt-2 align-items-center">
            {% csrf_token %}
            <div class="col-sm-10">
                <input id="id_term" name="term" type="text" class="form-control">   
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-link text-left pl-0">
                    search
                </button>
            </div>
        </div>
    </form>
    

    <div class="row pt-2 align-items-center">
    {% for kanji in kanji_list %}
        <div class="col-sm-1 pb-2">
            <h2>
                <a href="{% url 'toshokan:individual' kanji.id %}">{{ kanji.character }}</a>
            </h2>
        </div>
        <div class="col-sm-9 pb-2">
            <div>
                {{ kanji.reading }}
            </div>
            <div>
                {{ kanji.on_meaning }}
            </div>
        </div>
        <div class="col-sm-2 pb-2">
            <a class="btn btn-link text-left pl-0" data-toggle="collapse" href="#collapse_example_{{ kanji.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                add
            </a>
        </div>


        <div class="col-sm-11 offset-1 collapse" id="collapse_example_{{ kanji.id }}">
            <!-- 

            next question is whether way to quickly check inclusion here,
            where the more vacuous answer is that we include group_profile
            as reference to dictionary with the inclusion status for each item
            ajax needs to match, but will be fine on page refresh

             -->
            {% for group in userprofile.group_profile.all %}
                <button id="group_{{ group.id }}_{{ kanji.id }}" class="btn btn-link dropdown-item text-left text-primary pl-0 pb-1">{{ group.name }}</button>
            {% endfor %}
            <button id="like_{{ kanji.id }}" class="btn btn-link dropdown-item text-left text-primary pl-0 pb-3">
                add to favorites
            </button>
        </div>

    {% endfor %}
    </div>

{% endblock %}