{% extends 'base/base.html' %}

{% block javascript %}
    <script>
        $("button[id^='group_']").click(function (e) {

            var id_str = $(this).attr('id').split("_");

            $.ajax({
                url: "{% url 'toshokan:group_submit' %}",
                data: {
                    'group_id': parseInt(id_str[1]),
                    'kanji_id': parseInt(id_str[2]),
                },
                dataType: 'json',
                context: this,
                success: function (data) {
                    // whatever happens on success
                    $(this).attr('class', "btn btn-link dropdown-item text-success");
                    console.log("added");
                }
            });
            
            e.preventDefault();
            return false;
        });

        $("button[id^='like_']").click(function (e) {

            var id_str = $(this).attr('id').split("_");

            $.ajax({
                url: "{% url 'toshokan:like_submit' %}",
                data: {
                    'kanji_id': parseInt(id_str[1]),
                },
                dataType: 'json',
                context: this,
                success: function (data) {
                    // whatever happens on success
                    console.log(data.kanji_character);
                    // console.log(data.group_name);
                }
            });
            
            e.preventDefault();
            return false;
        });
    </script>
{% endblock %}

{% block content %}
    
    <div class="row pt-2 align-items-center">
         <form action="{% url 'toshokan:index_search' %}" class="form-inline col-sm-12" method="GET">
            {% csrf_token %}
            <input id="id_term" name="term" 
                       type="text" class="form-control col-sm-10">
            <input type="submit" value="submit search" 
           class="btn btn-link col-sm-2" />
        </form>
    </div>

    <div class="row pt-2 align-items-center">
    {% for kanji in kanji_list %}
        <div class="col-sm-1 py-2">
            <h2>
                <a href="{% url 'toshokan:individual' kanji.id %}">{{ kanji.character }}</a>
            </h2>
        </div>
        <div class="col-sm-9 py-2">
            <div>
                {{ kanji.reading }}
            </div>
            <div>
                {{ kanji.on_meaning }}
            </div>
        </div>
        <div class="col-sm-2 py-2">
            <button class="btn btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-plus"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for group in userprofile.group_profile.all %}
                    <button id="group_{{ group.id }}_{{ kanji.id }}" class="btn btn-link dropdown-item">{{ group.name }}</button>
                {% endfor %}
            </div>
            <button id="like_{{ kanji.id }}" class="btn btn-link">
                <i class="fas fa-check"></i>
            </button>
        </div>
    {% endfor %}
    </div>

{% endblock %}