<h1>
	{{ kanji.character }}
</h1>

<p>
	{% for reading in reading_jpn %}
		<li>
			{{ reading }}
		</li>
	{% endfor %}
</p>

<h3>
	Meaning
</h3>
<p>
	{{kanji.meaning}}
</p>

<!-- adding the kanji to your preferred fields -->

<h3>Already found this kanji interesting</h3>
<ul>
    {% for userprofile in kanji.interesting_kanji.all %}
        <li>{{ userprofile.user.username }}</li>
    {% endfor %}
</ul>

<p>
	Add this kanji to 'interesting'
</p>

<form action="{% url 'add_user' kanji.id %}" method="POST">
    {% csrf_token %}
    <button>Add</button>
</form>


<!-- <p>
	<h3>Interesting</h3>
	{% for userprofile in kanji.interesting_kanji.all %}
		<li>
			<a href="{% url 'profile' %}">{{ userprofile.user.username }}</a>
		</li>
	{% endfor %}
</p> -->