{% extends 'base/base.html' %}

{% block content %}
    
    <nav class="navbar fixed-bottom navbar-light navbar-expand-lg">
        <a class="navbar-brand" href="{% url 'base:index' %}">連接</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavBottom" aria-controls="navbarNavBottom" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavBottom">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'toshokan:comment' kanji.id %}">comment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'toshokan:kanji_group_view' kanji.id %}">add to group</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'toshokan:kanji_delete_group_view' kanji.id %}">remove from group</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form action="{% url 'toshokan:toggle_interesting' kanji.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-link nav-link">mark as favorite</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="{% url 'toshokan:toggle_difficult' kanji.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-link nav-link">mark as difficult</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row align-items-center py-2">
        <div class="col-sm-2">
            <h1>
                <a href="{% url 'toshokan:individual' kanji.id %}">{{ kanji.character }}</a>
            </h1>
        </div>
        <div class="col-sm-6">
            <div>
                reading: {{ kanji.reading_jpn }}
            </div>
            <div>
                meaning: {{ kanji.meaning }}
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                strokes: {{ kanji.strokes }}
            </div>
            <div>
                grade: {{ kanji.grade }}
            </div>
        </div>
    </div>

    {% for comment in comments %}
        <div class="row py-2">
            <div class="col-sm-6 offset-2">
                {{ comment }}
            </div>
            <div class="col-sm-2">
                <form action="{% url 'toshokan:delete_comment' kanji.id comment.id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-link p-0" type="submit" value="delete" name="delete">
                </form>
            </div>
            <div class="col-sm-2">
                <form action="{% url 'toshokan:edit_comment' kanji.id comment.id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-link p-0" type="submit" value="edit" name="edit">
                </form>
            </div>
        </div>
    {% endfor %}

    {% for compound in jukugo %}
        <li>
            {{ compound.characters }} - {{ compound.reading_eng }} - {{ compound.meaning }}
        </li>
    {% endfor %}


{% endblock %}