{% extends 'base/base.html' %}

{% block content %}

    <a href="{% url 'base:index' %}">homepage</a>
    <a href="{% url 'toshokan:index' %}">library</a>
    <a href="{% url 'base:profile' %}">profile</a>

    <h1>
    	{{ kanji.character }}
    </h1>

    <p>
        reading: {% for reading in reading_jpn %}{{ reading }},{% endfor %}
        <br>
        meaning: {{kanji.meaning}}
    </p>

    <ul>
        <li>
            interesting: {% if is_interesting %}yes{% else %}no{% endif %}
            <form action="{% url 'toshokan:toggle_interesting' kanji.id %}" method="POST">
                {% csrf_token %}
                <button>toggle interesting</button>
            </form>
        </li>
        <li>
            difficult: {% if is_difficult %}yes{% else %}no{% endif %}
            <form action="{% url 'toshokan:toggle_difficult' kanji.id %}" method="POST">
                {% csrf_token %}
                <button>toggle difficult</button>
            </form>
        </li>
        <li>
            known: {% if is_known %}yes{% else %}no{% endif %}
            <form action="{% url 'toshokan:toggle_known' kanji.id %}" method="POST">
                {% csrf_token %}
                <button>toggle known</button>
            </form>
        </li>
    </ul>

    <a href="{% url 'toshokan:comment' kanji.id %}">make a new comment</a>

    <h3>comments</h3>
    <ul>
        {% for comment in comments %}
        <li>
            {{ comment.date_time }}
            <br>
            {{ comment }}
        </li>
        {% endfor %}
    </ul>

    <a href="{% url 'toshokan:kanji_group_view' kanji.id %}">add this kanji to a group</a>

    <h3>groups</h3>
    <ul>
        {% for group_element in groups %}
            {% ifequal group_element.group.user request.user.profile %}
                <li>
                    {{ group_element.group.name }} added at {{ group_element.date_time }}
                </li>
            {% else %}
            {% endifequal %}
        {% endfor %}
    </ul>

{% endblock %}